<% include partials/header.ejs %>

<div class="container">
    <% if(!user) { %>
        <a href="/login">Login</a>
        <br>
        or
        <br>
        <a href="/register">Register</a>
    <% } %>
    <br>
    <% if(user) { %>
        <p>You are currently logged in as <%=user.username %></p>
        <a href="/logout"></a>
    <% } %>
</div>



<% include partials/footer.ejs %>
