<% include partials/header.ejs %>

<div class="container">
    <h1>Register Page</h1>
    <p class="lead">Say something worthwhile here.</p>
    <br>
    <form action="/register" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="username">
        </div>
        <button class="btn btn-default" type="submit">Login</button>
        &nbsp;
        <a href="/"><button class="btn btn-primary">Cancel</button></a>
    </form>
</div>



<% include partials/footer.ejs %>